.datatable-container {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    padding: 0 1rem;
    box-sizing: border-box;
  }
  
  .table-wrapper {
    overflow: auto; 
    /* background-color: #ddd; */
    /* border-radius-bottom-left: 10px; */

  }
  
  .dataTable {
    width: 100%;
    border-collapse: collapse;
    box-sizing: border-box;
    margin: 0;
  }
  
  thead th {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--bgBody);
    color: white;
    border-bottom: 1px solid #ddd;
    padding: 12px; 
    text-align: left;
  }
  
  tbody td {
    padding: 12px; 
    text-align: left; 
    border: 1px solid #ddd;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
    height: 40px;
  }
  
  tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  tfoot {
    background-color: var(--bgBody);
    color: white;
    text-align: center;
  }
